body{
    background:#061E0c;
}
.title_dash{
    color: #03cc1d;
    background-color: #03cc1d;
}

/* ===== Sidebar ===== */

.sidebar{
    width:260px;
    min-height:100vh;
}

.sidebar .nav-link{
    border-radius:10px;
    transition:.3s;
    padding:12px;
}

.sidebar .nav-link:hover{
    background:#0d6efd;
    padding-left:20px;
}

.botoninicio{
    background-color:#03cc1d;
    color:#fff;
    border-color:#03cc1d;
}

.botoninicio:hover{
    background-color:#02b31a;
    border-color:#02b31a;
    color:#fff;
}

.botoninicio:focus,
.botoninicio:active{
    background-color:#029d17;
    border-color:#029d17;
    color:#fff;
    box-shadow:none;
}

/* ===== Dashboard ===== */

.dashboard-card{

    cursor:pointer;

    transition:.3s;

}

.dashboard-card:hover{

    transform:translateY(-8px);

    box-shadow:0 15px 30px rgba(0,0,0,.15);

}

.card{

    border:none;

    border-radius:18px;

    transition:.35s;

}

.card:hover{

    transform:translateY(-8px);

    box-shadow:0 15px 40px rgba(0,0,0,.12);

}

.display-4{

    color:#0b5dd8;

}

.navbar{

    box-shadow:0 2px 15px rgba(0,0,0,.1);

}

/*Dashboard dinamico */

.card{
    animation:fadeInUp .7s ease both;
}

.row .col-md-3:nth-child(1) .card{
    animation-delay:.1s;
}

.row .col-md-3:nth-child(2) .card{
    animation-delay:.3s;
}

.row .col-md-3:nth-child(3) .card{
    animation-delay:.5s;
}

.row .col-md-3:nth-child(4) .card{
    animation-delay:.7s;
}

.card i{
    transition:.4s ease;
}

.card h1{
    transition:.4s ease;
}

.card h5{
    transition:.3s ease;
}

.card:hover i{
    transform:rotate(-12deg) scale(1.2);
}

.card:hover h1{
    transform:scale(1.12);
    color:#ffffff;
}

.card:hover h5{
    letter-spacing:1px;
}

.card::before{
    content:"";
    position:absolute;
    top:0;
    left:-120%;
    width:60%;
    height:100%;
    background:linear-gradient(
        120deg,
        transparent,
        rgba(255,255,255,.45),
        transparent
    );
    transition:.8s;

}

.card{
    position:relative;

    overflow:hidden;

}

.card:hover::before{

    left:150%;

}

/* Animación */

@keyframes fadeInUp{

    from{

        opacity:0;

        transform:translateY(40px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

.card:hover{

    background:#03cc1d;
    color:#fff;

    transform:translateY(-8px);

    box-shadow:0 10px 30px rgba(0,0,0,.15);

}

/* Cambiar el color de los íconos y textos */

.card:hover i,
.card:hover h1,
.card:hover h5,
.card:hover p{

    color:#fff !important;

}

