body{
    background:#f5f7fa;
}

/* ===== Sidebar ===== */

.sidebar{
    width:260px;
    min-height:100vh;
}

.sidebar .nav-link{
    border-radius:10px;
    transition:.3s;
    padding:12px;
}

.sidebar .nav-link:hover{
    background:#0d6efd;
    padding-left:20px;
}

/* ===== Dashboard ===== */

.dashboard-card{

    cursor:pointer;

    transition:.3s;

}

.dashboard-card:hover{

    transform:translateY(-8px);

    box-shadow:0 15px 30px rgba(0,0,0,.15);

}

body{

    background:#f4f7fb;

}

.card{

    border:none;

    border-radius:18px;

    transition:.35s;

}

.card:hover{

    transform:translateY(-8px);

    box-shadow:0 15px 40px rgba(0,0,0,.12);

}

.display-4{

    color:#0b5dd8;

}

.navbar{

    box-shadow:0 2px 15px rgba(0,0,0,.1);

}

/*Dashboard dinamico */

body{

background:#f4f7fb;

}

.card{

border:none;

border-radius:15px;

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

box-shadow:0 10px 30px rgba(0,0,0,.15);

}

.card-header{

font-weight:bold;

}

h1{

font-weight:bold;

}

.list-group-item{

transition:.3s;

}

.list-group-item:hover{

background:#eef6ff;

}